Hi all!

I'm Evaristo and I'm Advanced Consultant & Engineer at Altran developing .NET software at Airbus. 

I am lucky that one of my hobbies has become my profession. But not only the software development is my hobby. I'm passionate about music and photography too.

[https://www.evaristocuesta.es](https://www.evaristocuesta.es "Evaristo Cuesta Fotografía Sevilla") Personal Photography Website

[https://www.evaristocuesta.com](https://www.evaristocuesta.com "Evaristo Cuesta .NET developer") Professional Software Developer Website

Do you want to play Minesweeper?

{GameBoard}
